
@{
    ViewData["Title"] = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crawler is Finished</h1>
<hr />
<p>You can see the results from Reports page or follow this link <a asp-area="" asp-controller="Report" asp-action="Index">here</a> </p>

