@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application is named Web Crawler Application</p>
    <p>You can start the a new crawler from "Start New Crawler" page </p>
    <p>You give the target destination, the expression you want to search and how deep you want the program to crawl</p>
    <p>The deeper it goes the longer it will take to finish</p>
    <p>You can see the results of the searchen from the "Reports" page</p>
</div>
